@import 'tailwindcss';

:root {
  --theme-transition-duration: 150ms;
  --background: oklch(0.9485 0.0109 95.1664);
  --foreground: oklch(0.3522 0.0361 94.6795);
  --card: oklch(0.9485 0.0109 95.1664);
  --card-foreground: oklch(0.2174 0.0019 106.5582);
  --popover: oklch(0.9485 0.0109 95.1664);
  --popover-foreground: oklch(0.2752 0.0277 98.8574);
  --primary: oklch(0.6367 0.1853 37.9565);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9281 0.0194 90.5478);
  --secondary-foreground: oklch(0.4403 0.0255 98.5224);
  --muted: oklch(0.9377 0.021 88.7225);
  --muted-foreground: oklch(0.6087 0.0104 100.0931);
  --accent: oklch(0.9281 0.0194 90.5478);
  --accent-foreground: oklch(0.2752 0.0277 98.8574);
  --destructive: oklch(0.2174 0.0019 106.5582);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8872 0.0095 100);
  --input: oklch(0.7679 0.0225 98.2043);
  --ring: oklch(0.6367 0.1853 37.9565);
  --chart-1: oklch(0.5817 0.1705 40.3673);
  --chart-2: oklch(0.6733 0.1856 289.2878);
  --chart-3: oklch(0.8905 0.0383 93.856);
  --chart-4: oklch(0.8702 0.0572 297.4813);
  --chart-5: oklch(0.5859 0.1786 39.2235);
  --sidebar: oklch(0.9485 0.0109 95.1664);
  --sidebar-foreground: oklch(0.3621 0.0084 106.8122);
  --sidebar-primary: oklch(0.6367 0.1853 37.9565);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9281 0.0194 90.5478);
  --sidebar-accent-foreground: oklch(0.325 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: Alan Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Amethysta, ui-serif, serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2679 0.0036 106.6427);
  --foreground: oklch(0.8111 0.0201 90.5714);
  --card: oklch(0.2679 0.0036 106.6427);
  --card-foreground: oklch(0.9842 0.008 98.8765);
  --popover: oklch(0.3085 0.0035 106.6039);
  --popover-foreground: oklch(0.9235 0.0067 106.5298);
  --primary: oklch(0.6861 0.1791 38.2561);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9842 0.008 98.8765);
  --secondary-foreground: oklch(0.3085 0.0035 106.6039);
  --muted: oklch(0.2213 0.0038 106.707);
  --muted-foreground: oklch(0.7771 0.0238 98.7279);
  --accent: oklch(0.2254 0.0113 99.4186);
  --accent-foreground: oklch(0.9687 0.0106 100.8218);
  --destructive: oklch(0.6496 0.2362 26.9032);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.365 0.0134 107.0435);
  --input: oklch(0.4373 0.0162 97.7185);
  --ring: oklch(0.6861 0.1791 38.2561);
  --chart-1: oklch(0.5817 0.1705 40.3673);
  --chart-2: oklch(0.6733 0.1856 289.2878);
  --chart-3: oklch(0.2254 0.0113 99.4186);
  --chart-4: oklch(0.2938 0.0726 287.7891);
  --chart-5: oklch(0.5859 0.1786 39.2235);
  --sidebar: oklch(0.2357 0.0024 67.7077);
  --sidebar-foreground: oklch(0.8111 0.0201 90.5714);
  --sidebar-primary: oklch(0.325 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.221 0.0057 106.8574);
  --sidebar-accent-foreground: oklch(0.8111 0.0201 90.5714);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: Alan Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Amethysta, ui-serif, serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
