@import 'tailwindcss';

:root {
  --theme-transition-duration: 150ms;
  --background: oklch(0.935 0.0148 290.2965);
  --foreground: oklch(0.2862 0.0327 286.678);
  --card: oklch(0.935 0.0148 290.2965);
  --card-foreground: oklch(0.2138 0.0019 286.2347);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2284 0.0212 288.768);
  --primary: oklch(0.583 0.1201 252.1777);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8683 0.0205 285.9642);
  --secondary-foreground: oklch(0.3918 0.0185 289.6907);
  --muted: oklch(0.8746 0.0247 283.3375);
  --muted-foreground: oklch(0.5752 0.0076 295.3337);
  --accent: oklch(0.8683 0.0205 285.9642);
  --accent-foreground: oklch(0.2284 0.0212 288.768);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8442 0.0096 286.1917);
  --input: oklch(0.7115 0.0188 292.9832);
  --ring: oklch(0.583 0.1201 252.1777);
  --chart-1: oklch(0.501 0.1138 256.0403);
  --chart-2: oklch(0.5964 0.1323 37.8626);
  --chart-3: oklch(0.8023 0.0378 288.9145);
  --chart-4: oklch(0.7437 0.1332 37.5476);
  --chart-5: oklch(0.5043 0.1176 255.5916);
  --sidebar: oklch(0.9176 0.0149 294.4519);
  --sidebar-foreground: oklch(0.3424 0.0037 308.3407);
  --sidebar-primary: oklch(0.583 0.1201 252.1777);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.8683 0.0205 285.9642);
  --sidebar-accent-foreground: oklch(0.325 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: Alan Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Amethysta, ui-serif, serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 2px 2px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 2px 2px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 2px 2px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.015em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2565 0.0019 286.2686);
  --foreground: oklch(0.7557 0.0184 289.4885);
  --card: oklch(0.2565 0.0019 286.2686);
  --card-foreground: oklch(0.935 0.0148 290.2965);
  --popover: oklch(0.2949 0.0038 308.3162);
  --popover-foreground: oklch(0.887 0.0042 301.4169);
  --primary: oklch(0.6428 0.1145 250.7224);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.935 0.0148 290.2965);
  --secondary-foreground: oklch(0.2949 0.0038 308.3162);
  --muted: oklch(0.2138 0.0019 286.2347);
  --muted-foreground: oklch(0.7183 0.0202 292.4475);
  --accent: oklch(0.2069 0.0098 285.5081);
  --accent-foreground: oklch(0.9176 0.0149 294.4519);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3358 0.0088 295.0968);
  --input: oklch(0.4015 0.0117 292.4288);
  --ring: oklch(0.6428 0.1145 250.7224);
  --chart-1: oklch(0.501 0.1138 256.0403);
  --chart-2: oklch(0.7437 0.1332 37.5476);
  --chart-3: oklch(0.2069 0.0098 285.5081);
  --chart-4: oklch(0.5964 0.1323 37.8626);
  --chart-5: oklch(0.5043 0.1176 255.5916);
  --sidebar: oklch(0.2273 0.0038 286.0916);
  --sidebar-foreground: oklch(0.7557 0.0184 289.4885);
  --sidebar-primary: oklch(0.325 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.2138 0.0019 286.2347);
  --sidebar-accent-foreground: oklch(0.7557 0.0184 289.4885);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: Alan Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Amethysta, ui-serif, serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 2px 2px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 2px 2px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 2px 2px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

* {
  transition:
    background-color var(--theme-transition-duration) ease-in-out,
    color var(--theme-transition-duration) ease-in-out,
    border-color var(--theme-transition-duration) ease-in-out;
}

body {
  letter-spacing: var(--tracking-normal);
}
